:root {
  --color-primery-text: #000000;
  --color-nav-btn: #18a0fb;
  --color-secondary-text: rgba(0, 0, 0, 0.8);
  --color-primery-bgc: #ffffff;
  --color-secondary-bgc: #f5f5f5;
}

/* Universal class */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link-btn {
  background-color: var(--color-primery-bgc);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  border: 1px solid var(--color-nav-btn);
  border-radius: 6px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primery-bgc);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
  border: 1px solid var(--color-nav-btn);
  border-radius: 6px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: 1px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary-text);
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.015em;
}

/* Header */

.logo {
  font-family: "Comfortaa", sans-serif;
  color: var(--color-primery-text);
  font-size: 28px;
  line-height: 1.1;
}

.header-link {
  color: var(--color-nav-btn);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.header-link-login {
  color: var(--color-nav-btn);
}

.header-link-register {
  color: var(--color-primery-bgc);
  background-color: var(--color-nav-btn);
}

/* Main */
/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  color: var(--color-primery-text);
  font-size: 56px;
  line-height: 1.4;
  font-weight: 400;
}

.primery-btn {
  color: var(--color-primery-bgc);
  background-color: var(--color-nav-btn);
}

/* Feature */

.feature-title {
  color: var(--color-primery-text);
  font-size: 48px;
  line-height: 1.5;
}

.feature-item-title {
  color: var(--color-primery-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.feature-item-link {
  color: var(--color-nav-btn);
}

/* Work */

.work-bgc {
  background-color: var(--color-secondary-bgc);
}

.work-item-title {
  color: var(--color-primery-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* Advantages */

.advantages {
}

.advantages-title {
  color: var(--color-primery-text);
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}

.advantages-text {
  font-size: 36px;
  line-height: 1.4;
}

/* Signup */

.signup {
  background-color: var(--color-secondary-bgc);
}

.signup-text {
  font-size: 36px;
  line-height: 1.4;
}

.sacondary-btn {
  color: var(--color-nav-btn);
  background-color: var(--color-primery-bgc);
}

/* Footer */

.footer-link {
  color: var(--color-secondary-text);
  font-size: 15px;
  line-height: 1.6;
}

.footer-link span {
  color: var(--color-primery-text);
  font-weight: 700;
}

.footer-link-login {
  color: var(--color-nav-btn);
}

.footer-link-registe {
  color: var(--color-primery-bgc);
  background-color: var(--color-nav-btn);
}

.footer-text, 
.footer-pre-text {
  font-size: 15px;
  line-height: 1.6;
}