:root {
  --color-primery-text: #000000;
  --color-nav-btn: #18a0fb;
  --color-secondary-text: rgba(0, 0, 0, 0.8);
  --color-primery-bgc: #ffffff;
  --color-secondary-bgc: #f5f5f5;
}

/* Universal class */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* Сбрасываем для всех списков */
}

.link {
  text-decoration: none;
}

.link-btn {
  background-color: var(--color-primery-bgc);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  border-radius: 6px;
  padding: 11px 34px;
  display: inline-block;
  min-width: 130px;
  text-align: center;
  border: 1px solid transparent;
  /* прозрачная рамка */
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primery-bgc);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
  border: 1px solid var(--color-nav-btn);
  border-radius: 6px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: 1px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary-text);
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.015em;
}

/* Header */

.header {
  background-color: #ccc;
}

.main-nav {
  display: flex;
  align-items: center;
  /* центрируем элементы потому что у каждого свой облать и они не на одном месте */
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1440px;
  outline: 2px solid tomato;
}

.logo {
  font-family: "Comfortaa", sans-serif;
  color: var(--color-primery-text);
  font-size: 28px;
  line-height: 1.1;
}

.header-list {
  display: flex;
  margin-left: 70px;
}

.header-list .header-item {
  /* outline: 1px solid tomato; */
}

.header-item {
  /* margin-right: 40px; */
}

.header-item:last-child {
  /* margin-right: 0; */
  /* Послежнему убираем отступ */
}

.header-list .header-item:not(:last-child) {
  /* margin-right: 40px; */
  /* Всем элеиентам которые не является последний селектор */
}

.header-list .header-item + .header-item {
  /* background-color: blue; */
  margin-left: 40px;
  /* Почему левую сторону задали потому что отступ от первого с лева */
  /* селектор соседа получается первый не приминяется а последующие да */
}
.header-link {
  color: var(--color-nav-btn);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  padding-top: 21px;
  padding-bottom: 21px;
  display: block;
}

.header-link-login {
  color: var(--color-nav-btn);
  border: 1px solid var(--color-nav-btn);
}

.header-list-register {
  display: flex;
  margin-left: auto;
  /* автоматически прижимается в лево */
}

.header-list-register .header-item-register + .header-item-register {
  margin-left: 12px;
}

.header-link-register {
  color: var(--color-primery-bgc);
  background-color: var(--color-nav-btn);
}

/* Main */
/* Hero */

.hero {
  text-align: center;
  outline: 2px solid tomato;
}

.hero-title {
  color: var(--color-primery-text);
  font-size: 56px;
  line-height: 1.4;
  font-weight: 400;
  outline: 2px solid blue;

  margin-top: 0;
  margin-bottom: 40px;
  /* Сбрасываем его отступы */
}

.primery-btn {
  color: var(--color-primery-bgc);
  background-color: var(--color-nav-btn);
}

/* Feature */

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-title {
  color: var(--color-primery-text);
  font-size: 48px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 60px;
  outline: 2px solid blue;
  max-width: 750px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  /* для того чтобы элеиенты переносились на другую строку при заполнении первой */
  margin: -40px -75px;
  /* Убираем отступы */
}

.feature-list .feature-item {
  width: 625px;
  margin: 40px 75px;
}

.feature-item-title {
  color: var(--color-primery-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 24px;
}

.feature-item-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.feature-item-link {
  color: var(--color-nav-btn);
  border: 1px solid var(--color-nav-btn);
}

/* Work */

.work-list > .work-item:nth-child(2n) {
  background-color: var(--color-secondary-bgc);
  flex-direction: row-reverse;
  /* задаем поток элементов наоборот */
}

.work-list > .work-item:nth-child(2n + 1) .content {
  /* Тоесть в списке к каждому элемента к нечетному примени div content */
  margin-left: 84px;
}

.work-list > .work-item:nth-child(2n) .content {
  margin-right: 84px;
}

.work-list .work-item {
  display: flex;
  align-items: center;
  /* Поставит по вертикальной оси по центру */
}
.work-item-title {
  color: var(--color-primery-text);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 24px;
}

/* Advantages */

.advantages {
  text-align: center;
}

.advantages-title {
  color: var(--color-primery-text);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}

.advantages-text {
  font-size: 36px;
  line-height: 1.4;
}

.advantages-list {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  margin: -30px -30px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-list .advantages-item {
  margin: 30px 30px;
}

/* Signup */

.signup {
  background-color: var(--color-secondary-bgc);
}

.signup-text {
  font-size: 36px;
  line-height: 1.4;
}

.sacondary-btn {
  color: var(--color-nav-btn);
  background-color: var(--color-primery-bgc);
}

/* Footer */

.footer-link {
  color: var(--color-secondary-text);
  font-size: 15px;
  line-height: 1.6;
}

.footer-link span {
  color: var(--color-primery-text);
  font-weight: 700;
}

.footer-link-login {
  color: var(--color-nav-btn);
}

.footer-link-registe {
  color: var(--color-primery-bgc);
  background-color: var(--color-nav-btn);
}

.footer-text,
.footer-pre-text {
  font-size: 15px;
  line-height: 1.6;
}
