:root {
  --color-primery-text: #000000;
  --color-nav-btn: #18a0fb;
  --color-secondary-text: rgba(0, 0, 0, 0.8);
  --color-primery-bgc: #ffffff;
  --color-secondary-bgc: #f5f5f5;
}

/* Universal class */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: 1px;
}
